@import 'assets/sass/config.scss';

.thumbnail {
  & img {
    width: 80px;
    height: 80px;
  }
}

.row {
  padding: 10px;
  color: $white;
  cursor: default;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background: rgba($light-grey, 0.4);
  }
}

.info {
  .title {
    font-weight: bold;
  }

  .channel {
    font-size: 12px;
  }
}

.time {
  padding: 5px;
  margin: 0 10px;
  font-size: 12px;
}

.options {
  padding: 5px;
  margin: 0 10px;
  font-size: 12px;
}
