@import 'assets/sass/config.scss';

.searchRow {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: $white;
  font-size: 14px;
  font-weight: 300;
  cursor: default;
  align-items: center;
  transition: all 0.3s;
  border-bottom: 1px solid rgba($light-grey, 0.4);

  .thumbnail {
    display: flex;
    align-items: center;
    margin-right: 30px;
    & img {
      width: 40px;
      height: 40px;
    }

    .title {
      margin-left: 10px;
    }
  }
  .searchContent {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  &:hover {
    background: rgba($light-grey, 0.4);
    transition: all 0.3s;
    .play {
      visibility: visible;
    }
  }
  .play {
    padding: 5px;
    margin: 0 10px;
    font-size: 16px;
    visibility: hidden;
  }
  div {
    display: inline-block;
  }
}
