@import 'assets/sass/config.scss';

.section {
  color: $white;
  padding: 100px 30px 90px;
  background: $black;
}

.listSection {
  width: 70%;
  display: inline-block;
  float: left;
}

.queueSection {
  width: 28%;
  float: right;
  display: inline-block;
  h1 {
    font: normal bold 20px/1.5 $font-family--primary;
  }
}

.queueWrapper {
  border: 1px solid $white;
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
}