@import 'assets/sass/config.scss';

.section {
  color: $white;
  padding: 100px 30px 90px;
  background: $black;
}

.listSection {
  width: 70%;
  display: inline-block;
  float: left;
}

.QueueSection {
  background: $white;
  width: 28%;
  float: right;
  display: inline-block;
  height: 300px;
}