@import 'assets/sass/config.scss';

.sidebar {
  width: 20.666667%;
  height: 100vh;
  position: fixed;
  background: $grey;
  float: left;
  padding: 5px 35px;
}

.section {
  margin: 50px 0;
}

.sectionTitle {
  color: $white;
  font-size: 12px;
}

.sectionBody {
  margin: 10px 0;
}

.sectionLink {
  & a {
    color: $light-grey;
    font-weight: lighter;

    &:hover {
      color: $white;
    }
  }
}

h1 {
  font: normal bold 30px/1.32 $font-family--primary;
  color: $white;
  margin: 30px 0;
}
