@import 'assets/sass/config.scss';

.sidebar {
  width: 14.2%;
  height: 100vh;
  position: fixed;
  background: $grey;
  float: left;
  padding: 5px 20px;
}

.section {
  margin: 50px 0;
}

.sectionTitle {
  color: $white;
  font-size: 16px;
  font-weight: bold;
}

.sectionBody {
  margin: 10px 0;
  padding-left: 0;
  li {
    list-style: none;
  }
}

.sectionLink {
  & a {
    color: $light-grey;
    font-weight: lighter;
    transition: all 0.3s ease-in;
    &:hover {
      color: $white;
      transition: all 0.3s ease-in;
    }
  }
}

h1 {
  font: normal bold 30px/1.32 $font-family--primary;
  color: $white;
  margin: 10px 0;
}

.videoWrapper {
  width: 100%;
  height: 150px;
  margin: 100px 0;
  background: $white;
}
