@import 'assets/sass/config.scss';

.searchBar {
  .searchField {
    border: none;
    padding: 10px 10px 10px 36px;
    max-width: 250px;
    width: 100%;
    font-size: 14px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    background-image: url('assets/images/search.svg');
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 16px;

    &:focus {
      outline: none;
    }
  }
}
