@import './config';

body {
  background: $black;
  font-family: $font-family--primary;
  margin: 0;
  padding: 0;
}

a {
  font-size: 16px;
  display: block;
  cursor: default;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
